body {
  background-color: azure;
  flex: 1;
  width: 100%;
  align-self: center;
}
/* *********************** */
/* queue: START */
.queue {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.queue .row {
  display: flex;
}
/* queue: END*/
/* ************************/

/* *********************** */
/* svg: START */
.leftTop {
  position: relative;
  left: 0;
  top: 0;
}
.rightTop {
  right: 0;
  top: 0;
}
.leftBottom {
  left: 0;
  bottom: 0;
}
.rightBottom {
  right: 0;
  bottom: 0;
}
/* svg: END*/
/* ************************/

.message {
  position: absolute;
  text-align: center;
  width: 200px;
  padding-top: 35%;
  font-size: 3rem;
  margin: auto;
  z-index: -1;
}
/* *********************** */
/* animate Svg: START */
.queue:hover > .row .leftTop {
  transform-origin: top left;
  transition-duration: 1s;
  transform: rotate(90deg);
}
.queue:hover > .row .rightTop {
  transition-duration: 1s;
  transform: translateX(100px) rotate(-90deg);
}
.queue:hover > .row .leftBottom {
  transition-duration: 1s;
  transform: translateX(-100px) rotate(90deg);
}
.queue:hover > .row .rightBottom {
  transition-duration: 1s;
  transform: translateX(100px) rotate(-90deg);
}
/* animate Svg: END*/
/* ************************/
